.button {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: 20px;

  // prevent drag/select
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  img {
    width: 80px;
    height: 80px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 40px;
  }

  &:hover {
    filter: brightness(0.95);
    cursor: pointer;
  }
}