.flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.backgroundContainer {
  display: flex;
  width: 120px;
  height: auto;
  margin: 10px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-items: center;
}

.background {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  transition: 0.05s ease-in;
  
  &:hover {
    filter: brightness(0.95);
    cursor: pointer;
  }
}

.label {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-top: 6px;
}