.button {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin: 8px;
  background-color: #2f2f2f;
  border-radius: 40px;

  // prevent drag/select
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  svg {
    width: 100%;
    height: auto;
    padding: 6px;

    // https://codepen.io/sosuke/pen/Pjoqqp
    filter: invert(100%) sepia(99%) saturate(5%) hue-rotate(101deg) brightness(103%) contrast(102%);
  }

  &:hover {
    // filter: brightness(0.95);
    background-color: #434343;
    cursor: pointer;
  }
}
