.checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
  display: none;
}

.label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 100px;
  height: 46px;
  background: grey;
  border-radius: 100px;
  position: relative;
  transition: background-color 0.2s;
  margin-bottom: 0;
}

.label .button {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 45px;
  height: 41px;
  border-radius: 41px;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.checkbox:checked + .label .button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.label:active .button {
  width: 60px;
}
